.App {
    display: block;
    text-align: center;
}
.App-background {
    background-position: fixed;
    background-size: cover;
    --background-Image: `url(${backImage})`;
}
.App-form {
    display: inline-block;
    margin-top: 250;
    margin-bottom: 350;
    text-align: center;
}
.App-input {
    font-size: 12;
    padding: 5;
    height: 30;
    width: 250;
}
.App-Error {
    color: "white";
}
