.App-page {
    display: block;
    text-align: center;
}
.App-background {
    background-position: initial;
    background-size: cover;
    background-image: url("../images/image.jpg");
}
.App-form {
    display: inline-block;
    margin-top: 300px;
    margin-bottom: 350px;
    text-align: center;
}
.App-input {
    font-size: 12px;
    padding: 5px;
    height: 30px;
    width: 250px;
    margin-bottom: 10px;
}
.AppError {
    color: red;
    margin-bottom: 10px;
}
.App-button {
    width: 250px;
}
.Main-head {
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 50px;
    margin-bottom: 650px;
}
